* { border: 2px solid red;
    font-family: 'Work Sans'; 
}

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Work+Sans:wght@500&display=swap');

body{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 0 auto 0 auto;
}

/* banner section */
.banner_section{
    width: 1440px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color:rgba(255, 144, 14, 0.1);
}

/* navigation section inside banner section*/
.header_menu{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    width: 1440px;
}

.logo{
    font-size: 45px;
    font-weight: 700;
}

.nav_tabs{
    display: flex;
    justify-items: end;
    justify-content: end;
    align-items: center;
    list-style-type: none;
}

.nav_tab{
    font-size: 26px;
    margin: 0;
    width: 150px;
    text-align: center;
    vertical-align: middle;
}

.nav_tab:hover{
    background-color: white;
}

/* small devices */

@media only screen and (max-width: 698px) {
    .header_menu{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
        row-gap: 10px;
    }
    .nav_tabs{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
    }
}

/* navigation section end*/

.content{
    display: flex;
    flex-direction: column;
    column-gap: 5px;
    align-items: center;
    margin-bottom: 50px;
}

.banner_title{
    font-size: 4rem;
    min-width: 80%;
    text-align: center;
} 
.banner_discrption{
    font-size: 1rem;
    width: 80%;
    text-align: center;
    margin: 0px;
}
    /* primary button start*/
    .primary_btn{
        height: 100px;
        width: 180px;
        background-color: #FF900E;
        border-radius: 10px;
        color: white;
        font-size: 20px;
        font-weight: 600;
        border: none;
        transition: width 1s, transform 1s;
    }

    .primary_btn:hover{
        transform: rotate(360deg);
        width: 240px;
        color: #FF900E;
        background-color: white;
        border: 2px solid #FF900E;
    }
    /* primary button end*/

.banner_img{
    margin-top: 40px;
    width: 1440px;
    margin-bottom: 45px;
}
/* banner section end*/

    /* bonus_section */

    .anime{ 
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
        height: 700px;
        width: 1440px;
    }
    .anime_title{
        width: 1000px;
        text-align: center;
        padding: 30px;
        
    }
    .anime_window{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        justify-content: center;
        align-items: flex-end;
        height: 600px;
        width: 1000px;
        background-color: white;
    }

    .building1{
        position: relative;
        left: 480px;
        height: 0;
        width: 100px;
        z-index: 1;
    }

    .building2{
        position: relative;
        left: 200px;
        height: 0;
        width: 110px;
        z-index: 1;
    }

    .building3{
        position: relative;
        left: 240px;
        height: 0;
        width: 80px;
        z-index: 1;
    }
    .building4{
        position: relative;
        right: 50px;
        height: 0;
        width: 70px;
        z-index: 2;
    }

    .building5{
        position: relative;
        left: -100px;
        height: 0;
        width: 200px;
        overflow: hidden;
        z-index: 1;
    }

    .building6{
        position: relative;
        left: -150px;
        height: 0;
        width: 60px;
        overflow: hidden;
        z-index: 1;
    }
    .building7{
        position: relative;
        height: 0;
        left: -300px;
        width: 80px;
        z-index: 1;
    }
    .anime:hover>.anime_window .building1{
        height: 80%;
        transition: height 1.5s;
        border: 2px solid black;
        background-color: white;
    }

    .anime:hover>.anime_window .building2{
        height: 60%;
        transition: height 2.8s linear;
        border: 2px solid black;
        background-color: white;
    }
    .anime:hover>.anime_window .building3{
        height: 90%;
        transition: height 1.5s linear;
        border: 2px solid black;
        background-color: white;
    }
    .anime:hover>.anime_window .building4{
        height: 50%;
        transition: height 2.1s;
        border: 2px solid black;
        background-color: white;
    }

    .anime:hover>.anime_window .building5{
        height: 40%;
        transition: height 2.5s linear;
        border: 2px solid black;
        background-color: white;
    }
    .anime:hover>.anime_window .building6{
        height: 65%;
        transition: height 1s linear;
        border: 2px solid black;
        background-color: white;
    }
    .anime:hover>.anime_window .building7{
        height: 53%;
        transition: height 1s linear;
        border: 2px solid black;
        background-color: white;
    }
    /* bonus_section end*/

/* navigation section end */

/* feature section */
.feature_section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: end;
    align-items: center;
    width: 1440px;
    margin-top: 50px;
    padding: 50px;
    
}
.img_group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items:flex-start;
    gap: 24px;
}
.feature_image{
    width: 342px;
    height: 342px;
    border-radius: 8px;
    background-color: white;
}

.feature_content{
    justify-items: center;
    align-items: center;
    margin-left: 40px;
}

.feature_title{
    font-size: 45px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 24px;
}
.gray{
    color: gray;
}
.orange{
    color: #FF900E;
}
.feature_discription{
    font-size: 1rem;
    width: 80%;
}
.feature_button{
    margin-top: 10px;
}
/* small devices */

@media only screen and (max-width: 688px) {
    .feature_section{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: end;
        align-items: center;
        width: 70%;
        margin-top: 50px;
    }
    
    .img_group{
        margin-bottom: 30px;
    }
    .feature_content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
        margin-left: 0px;
    }
    .feature_discription{
        font-size: 1rem;
        width: 100%;
    }
}

/* feature section end*/

/* feauter blog start */

.feature_blog_section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 80px;
    width: 1440px;
}
.blogs_section{
    width: 586px;
}
.blog_section_title{
    border-left: 8px solid orange;
    padding-left: 20px;
}
.blog_discription{
    font-size: 1rem;
    width: 100%;
    height: 74px;
}

.blog{
    height: 140px;
    box-shadow: 0px 0px 10px 5px rgb(235, 235, 235);
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 5px;
}

.blog_title{
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    padding-left: 20px;
}

.blog_content{
    font-size: 16px;
    margin-left: 20px;
}

.blog_image{
    width: 708px;
    padding-left: 92px;
}

/* special button */

.feature_btn{
    position: relative;
    top: -160px;
    right: -120px;
    height: 200px;
    width: 342px;
    background-color: orange;
    border-radius: 8px;
    font-size: 45px;
    line-height: 40px;
    color: white;
    font-weight: 800px;
    border: none;
    transition: width 1s, transform 1s;
}

.feature_btn:hover{
    transform: rotate(360deg);
}

.btn_text{
    font-size: 24px;
    line-height: 40px;
    color: white;
    font-weight: 700px;
}

/* small devices */

@media only screen and (max-width: 688px) {
    .feature_blog_section{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
    }
    .blog_image{
        width: 100%;
        margin-right: 0px;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .blog_content{
        font-size: 1rem;
        margin-top: 10px;
        margin-left: 00px;
    }
    .feature_btn{
        top: 0;
        left: 0;
        right: 0;
        height: 100px;
        width: 142px;
        margin: 10px;
        margin-bottom: 50px;
    }
}


/* feature blog section end */

/* facts section start */

.facts_section{
    width: 80%;
    margin: 0;
    height: 100%;
}

.facts_title{
    font-weight: 700;
    font-size: 45px;
}

.facts_description{
    width: 542px;
    line-height: 30px;
    margin: 0;
}

.facts_unit{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 50px;
}

.fact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 241px;
    width: 241px;
    border: 1px solid orange;
    border-radius: 10px;
}

/* small devices */

@media only screen and (max-width: 688px) {
    .facts_section{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        align-items: center;
    }
    .fact_title{
        align-items: center;
        text-align: center;
    }
    .facts_description{
        width: 100%;
        text-align: center;
    }
    .facts_unit{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        justify-items: center;
        align-items: center;
    }
    .fact{
        height: 241px;
        width: 241px;
    }
}


.fact:hover{
    border: 10px solid orange;
    height: 200px;
    width: 200px;
    transition: height 1s, width 1s;
    border-radius: 50px;
}
.fact_icons{
    margin-bottom: 30px;
}

.numbers{
    margin: 0;
}

.facts_subtitle{
    margin: 0;
}

/* sponsor section */

.sponsors_section{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 180px;
}

.sponsor_title{
    margin-bottom: 24px;
}

.sponsor_description{
    margin-bottom: 30px;
    padding: 10px;
}

.sponsor_links{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
    align-items: center;
    column-gap: 100px;
    margin-bottom: 30px;
}

.sponsor{
    height: 60px;
    margin-top: 30px;
}


/* small devices */

@media only screen and (max-width: 688px) {
    .sponsors_section{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
    }
    .sponsor_title{
        text-align: center;
    }
    .sponsor_links{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        justify-items: center;
        align-items: center;
    }
}

/* footer section */

.footer_section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin-top: 110px;
    margin-bottom: 100px;
}

.footer_rights{
    height: 50px;
    width: 80%;
    text-align: center;
    padding-top: 30px;
    background-color: #FFF4E7;

}

/* end */